@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}
.header 
 { 
    display: flex;
    align-items: center;
    background-color: skyblue;
    border: 1px solid black;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    color: pink;
   
    
  
}

ul {
  display: flex;
  
}

ul > li {

list-style: none;
margin-right: 10px;
font-size: 20px;

} 


body {
  padding: 0;
  margin: 0;
}
.footer{
  color: white;
  background-color: black;
  display:flex;
  justify-content: center;
  text-align: center;
}
